<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/">
    <meta name="license" content="CC BY 4.0">
    <style>{% include "css/styles.css" %}</style>
  </head>
  <body>
    <header>
      <div class="container">
        Sameer Kumar
      </div>
    </header>
    <div class="container">
      {{ content | safe }}
    </div>
    <footer>
      <div class="container">
        &copy; 2019&ndash;{% year %} Sameer Kumar &middot;
        Content licensed under
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
      </div>
    </footer>
  </body>
</html>
