---
layout: layouts/base.njk
permalink: 404.html
title: Page not found | Sameer Kumar
description: Sorry, the page you are looking for could not be found.
canonicalPath: /404.html
---

<h1>Page not found</h1>
<p>Sorry, we couldn't find that page.</p>
<p><a href="/">Back to homepage</a></p>
