---
layout: layouts/base.njk
title: Sameer Kumar | Articles (Sourced from Medium)
---

<h1>Welcome to Sameer Kumar's Articles</h1>
<p>
  Software Engineer, Backend Developer. I've been working majorly in Python, Django since the past 2 years. Building products at companies such as SupplyAI, Sqrrl Fintech and Dhuper Infotech. Skilled in Python (Django, Flask, Falcon), Cloud Infrastructure (AWS, Azure), Databases (SQL, NoSQL), popular tools used in backend (Git, Algolia, Docker) and modern development practices for maintainable and scalable code. Graduated from Vivekananda Institute of Professional Studies(GGSIP University) in 2019.
  
  
  
  Based in New Delhi, India.<br>Mostly active on <a href="https://twitter.com/sameer_kumar018">Twitter</a>. <br>Know more <a href="https://www.sameerkumar.website">here</a>.
</p>

<hr/>

<h2>Articles <small>(sourced from {{ medium.url }})</small></h2>
<ul class="listing">
{% for item in medium.posts %}
  <li>
    <p class="meta">Published on {{ item.pubDate | date }} by {{ item['dc:creator'] }}</p>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>
