---
layout: layouts/base.njk
pagination:
  data: medium.posts
  size: 1
  alias: item
permalink: posts/{{ item.path }}/index.html
eleventyComputed:
  title: "{{ item.title[0] }} | Sameer Kumar"
  description: "Article by {{ item['dc:creator'][0] }}."
  canonicalPath: "/posts/{{ item.path }}/"
  ogType: article
---

<article>
  <p class="meta">Published on {{ item.pubDate[0] | date }} <br/>by {{ item['dc:creator'][0] }}</p>
  <h2>{{ item.title[0] }}</h2>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ item.title[0] | json | safe }},
    "author": {
      "@type": "Person",
      "name": {{ item['dc:creator'][0] | json | safe }}
    },
    "datePublished": "{{ item.pubDate[0] | isoDate }}",
    "url": "{{ site.url }}/posts/{{ item.path }}/",
    "mainEntityOfPage": "{{ site.url }}/posts/{{ item.path }}/"
  }
  </script>
  <div class="post-content">
    {{ item['content:encoded'][0] | safe }}
  </div>
</article>
